# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.deps
*.mtc1
*.synctex.gz
*.fls
*.fdb_latexmk

# Otros
!src/exp/*
src/data/*test*.txt
src/data/*exp*.txt
src/data/baby_re.avi
!latex/datos/*
src/data/out/baby.avi
src/data/out/baby_out.txt
src/data/out/funnybaby.avi
src/data/out/funnybaby_out.txt
src/data/out/messi.avi
src/data/out/messi_out.txt
src/data/out/skate.avi
src/data/out/skate_out.txt
src/data/out/sunrise.avi
src/data/out/sunrise_out.txt
